html,body{
	margin:0px;
	width:100%;
	height:100%;
}
div#AddJob,#AddConsertMenu{padding:0px;

}
div#Hall{
	padding:1px;
	height: auto; 
	width: 300px;
 border:1px solid gold;

}



.AddConsertMenu{
	text-align: center;
	background-color: coral;
	display:block;
	float:left;
	width:10%;
	height:100%;
}
.AddJob{
	float:right;
	width:90%;
	height:100%;
}