<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ConsertBoardLive">
	<!-- 글쓰기 쿼리 -->
	<select id="Liveboardlid" parameterType="String" resultType="String">
		select max(L_num) from Live_Board where L_num=#{L_num}
	</select>
	<insert id="Liveboardwrite" parameterType="LiveBoard">
		insert into Live_Board values(#{L_num},#{L_kind},#{L_password},#{L_content},#{L_singger})
	</insert>
	<insert id="Buskingboardwrite" parameterType="ConsertBoard" >
		INSERT INTO Live_consert VALUES(#{L_num}, #{L_consert_num}, #{L_consert_title}, #{L_price}, #{L_consert_kind}, #{L_date_s}, #{L_date_e})
	</insert>
	<insert id="Consertboardwrite" parameterType="BuskingBoard">
		INSERT INTO Live_busking VALUES(#{L_num},#{L_bus_place}, #{L_bus_kind}, #{L_bus_date})
	</insert>
	
	
	
	<!-- 글목록 쿼리 -->
	<select id="freeboardForm" resultType="">
		SELECT * FROM Live_Board order by L_Num desc
	</select>
	
	<!-- 게시판 상세보기 내 리스트 불려오기 쿼리 -->
	<select id="boardviewInList" resultType="board">
		SELECT * FROM Board order by board_Num desc
	</select>
	
	

	<!-- 조회수 증가 쿼리 -->
	<update id="increaseHit" parameterType="int">
		UPDATE BOARD SET Board_Hit = Board_Hit+1 WHERE Board_Num = #{Board_Num}
	</update>

	<!-- 글 상세보기 쿼리 -->
	<select id="boardview" parameterType="int" resultType="board">
		SELECT * FROM BOARD WHERE Board_Num=#{Board_Num}
	</select>

	<!-- 글 수정하기 쿼리 -->
	<select id="boardmodify" parameterType="int" resultType="board">
		SELECT * FROM BOARD WHERE Board_Num=#{Board_Num}
	</select>

	<!-- 글 수정 업데이트 -->
	<update id="boardmodify1" parameterType="board">
		UPDATE BOARD SET Board_Title=#{Board_Title}, Board_Content=#{Board_Content}, Board_FileName=#{Board_FileName} WHERE Board_Num=#{Board_Num}
	</update>

	<!-- 글 삭제하기 쿼리 -->
	<delete id="boarddelete" parameterType="int">
		DELETE FROM BOARD WHERE Board_Num=#{Board_Num}
	</delete>
	
	<!-- 카운트 -->
	<select id="getListCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM BOARD
	</select>
	
	<!-- 짜르게 -->
		<select id="getRead" parameterType="java.util.HashMap" resultType="board">
		<![CDATA[
		SELECT * FROM ( SELECT ROWNUM AS RNUM, T1.*, COUNT(*) OVER() AS TOTAL_CNT
		FROM( SELECT * FROM board ORDER BY board_num DESC) T1) WHERE RNUM > #{start} AND RNUM <= #{end} ]]>
	</select>

</mapper>
	